{% extends "base.html" %}
{% load static %}
{% load socialaccount %}
{% block container %}
    <!-- Account Page -->
    <div class="account-page">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <img src="{% static 'images/image1 copy.png' %}" width="100%">
                </div>
                <div class="col-2">
                    <div class="form-container">
                        <div class="form-btn">
                            <a href="{% url "signup" %}">
                                <span onclick="register()">Register</span>
                                </a>
                            <a href="{% url "login" %}">
                            <span onclick="login()">Login</span>
                            </a>
                            
                            <hr id="Indicator">
                        </div>

                        <form id="RegForm" method="POST" action="{% url 'login' %}">
                            {% csrf_token %}
                            {% if form.errors %}
                                <div class="alert alert-danger">
                                    {% for field, errors in form.errors.items %}
                                        {% for error in errors %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <input type="text" name="username" placeholder="Username">
                            <input type="password" name="password" placeholder="Password">
                            <button type="submit" class="btn">Login</button>
                        
                            <!-- Move Google login button right below the login button -->

                            <p>Or</p>
                            <div class="google-login">
                                <a href="{% provider_login_url 'google' %}" class="btn google-btn">Login with Google</a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

